/*
Lettrine css file
*/
.lettrine {
    height: 33px;
    margin-left: -5px;
    margin-top: 0;
    padding-top: 19px;
	font-size: 63px;
	font-weight:normal;
	color: RGB(255,0,153);
	float:left;
	display: block;
}